---
layout: page
title: Forrest Williams
---
<img src="/assets/img/profileCircleSmall.png" alt="Profile" class="center" width="300" height="300"> 
<br>
<p class="center">
    Hi I’m Forrest, an American geomorphologist who uses remote sensing and field studies to track the movement
    of sediment throughout large regions. I am currently pursuing a PhD at Massey University where I am monitoring 
    the movement of large landslides across New Zealand.<br><br> In addition to my work, I am passionate about public science 
    communication and am an avid runner. Continue reading to learn more about me and my current projects. 
    You can also check out my latest paper <a href=https://doi.org/10.1016/j.geomorph.2020.107313>here</a>.
</p>
<br><hr><br>
<h1>Current Projects:</h1>

<h2>Monitoring large landslides in New Zealand</h2>
<p>Slow-moving landslides don’t pose a serious threat to human life, but they do impact the health of our rivers. While these landslides are common in New Zealand, little is known about these landslides because they are difficult to monitor. In my PhD I am using advanced remote sensing techniques, such as interferometric synthetic aperture radar (InSAR), to track these landslides and to assess their impact on New Zealand’s rivers.
<br><a href=https://www.researchgate.net/project/Exploring-spatiotemporal-trends-in-slow-moving-large-landslide-occurrence-and-activity>Follow on ResearchGate</a></p>

<h2>Measuring the impact of riverbank erosion in Iowa</h2>
<p>Riverbank erosion is an important source of pollutants to Iowa’s rivers, but are riverbanks a dominant source of pollution? My colleagues at Iowa State University and I are using both in-field and remote sensing techniques to determine if the amount of Phosphorus and sediment contributed by riverbank erosion is comparable to the amount that is contributed by eroding farm fields. For this project I developed <a href=https://doi.org/10.1016/j.geomorph.2020.107313>AIMM</a>, a remote sensing model that measures riverbank erosion over large regions.
<br><a href=https://doi.org/10.1016/j.geomorph.2020.107313>Read the Paper</a> | <a href=https://www.researchgate.net/project/Assessing-the-impact-of-streambank-erosion-on-midwestern-watersheds>Follow on ResearchGate</a></p>

<h2>Using Google Earth Engine to monitor farming practices in the Midwest</h2>
<p>The <a href=https://www.dailyerosion.org>Daily Erosion Project</a> provides daily estimates of farmland erosion across the Midwest, but it needs to know how much plant material is present in farm fields in order to run. After collecting a massive amount of field data, we are now using the <a href=https://earthengine.google.com>Google Earth Engine</a> platform to develop and implement a remote sensing model to measure the amount of plant residue cover present in farm fields across the Midwest.
<br><a href=https://www.researchgate.net/project/Estimating-crop-residue-cover-over-large-regions-using-Google-Earth-Engine>Follow on ResearchGate</a></p>

<br><hr><br>
<div class="container row">
    <h1 class="cv-title"><span>{{ site.timeline-name }}</span></h1>
    {% assign steps = site.steps | sort: 'date' %}
    {% for step in steps %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">{{ step.title }}</h2>
        <div class="card-panel">
            <h3 class="card-title">{{ step.date | date: '%Y' }}{% if step.enddate %} - {{ step.enddate | date: '%Y' }}{% endif %}</h3>
            <p>{{ step.content }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<br><hr><br>
